<p>Photo Title :<%= photo.username %> </p>
<p>Caption: <%= photo.caption %> </p>
<p>likes count: <%=photo.likes_count%> </p>
<img src="<%=photo.url%>">
<p>Created at: <%=photo.created_at%></p>
<p>Upated at: <%=photo.updated_at%></p>